*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    outline: 2px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../grids-full-responsive/alanwalker4.jpg);
    height: 100vh;
 
}
.navbar{
    border: 1px solid black;
    justify-content: space-evenly;
    background-color: grey;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.navbar .logo{
    width: 60px;
    height: 60px;
    /* transformaciones */
    transform: translateX(20px);
    transform: translateY(10px);
    grid-column: 2 / 3;
    /* cambios nueva rama */
    transform: skew(1,2);
    transform: translateY(10px);


   } 
   
   

.navbar .menu{
    grid-column: 3 / 5;
    display: flex;
    justify-content: space-around;
    /* cambio gradient nueva rama */
    background-image: linear-gradient(to left, black, rgb(151, 187, 235));
    color: rgb(black, white, blue);
}
.navbar .menu li{
    list-style: none;
}
.navbar .menu a{
    text-decoration: none;
    color: rgb(black, white, blue);
}
.navbar .menu-bar{
    display: inline;
}
.navbar .tienda{
    grid-column: 5 / 6;
}
.hero{
    color: lightblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
}
.hero .info-content{
    grid-column: 3 /6;
}
.hero2{
    color: lightblue;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

}
.header-grid{
    grid-area: header-grid;
}
.nav{
    grid-area: nav;
}
.principal{
    
    grid-area: principal
}
.aside{
    grid-area: aside;
}
.footer2{
    background-image: linear-gradient(to left, black, rgb(151, 187, 235));
    grid-area: footer2;
    color: lightblue;
}
.Grid{
    height: 100%;
    margin: 0%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 25% auto 25%;
    align-items: center;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "header-grid header-grid header-grid"
    "nav principal aside"
    "footer2 footer2 footer2"

}
/* .grid-hijo{
    background-color: lightblue
    
}
.grid-hijo img{
    max-width: 300px;
    max-height: 300px;
} */


/* .border{
    display: flex;
    /* justify-items: start; */
    /* align-items: center;
    justify-content: space-around;
    height: auto;
    color: blue; */ */

/* nav img{
    max-width: 80%;
    max-height: 80%;
}
aside{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
section{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 20px;
    background-image: linear-gradient(to left, black, rgb(151, 187, 235));
    height: auto;
}
section button{
    height: auto;
}
footer{
    background-image: linear-gradient(to left, black, rgb(173, 200, 230));
}
.border2{
    height: 30px;
    text-align: center;
} */
form fieldset{
    margin-right: 10px;
    font-weight: bolder;
    align-items: center;
    background-image: linear-gradient(to left, black, rgb(151, 187, 235));
    height: auto;
    }
form legend{
font-family: 'roboto';
background-color: rgba(83, 23, 23, 0.575);
margin-left: 25px;
margin-right: 19px;
/* color: rgba(255, 255, 255, 0.712);
text-align: center; */
align-items: center;
}
form select{
font-size: x-large;
align-items: center;
}
form option{
font-size: medium;
}
label{
    color: lightblue;
    font-size: large;
}
.flex-container{
display: flex;
background-color: lightseagreen;
padding: 10px;
}
.flex-container div{
background-color: mediumblue;
width: 100px;
margin: 10px;
text-align: center;
line-height: 75px;
border: 2px solid black;
font-size: small;
}
.terminos{
    margin-top: 200px;
    margin-left: auto;
    color: lightblue;
    margin-right: auto;
    border: 3px solid black;
    width: 700px;
    height: 500px;
    font-size: 15px;
    overflow: scroll;
}
.Grid-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 25% auto 30%;
    background-color: blanchedalmond;
}
.header-grid{
    position: relative;
    width: 100;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .header-grid iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }